.nav {
    background-color: rgb(33, 33, 95);
    color: white;
    padding: 1.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30vw;
}

.nav a {
    text-decoration: none;
    color: white;
}


.nav h1 {
    font-size: 1.8rem;
}

.login {
    display: flex;
    align-items: center;
    gap: max(0.5rem, 2vw);
}

.login a {
    font-size: 1.1rem;
    transition: transform 200ms ease;
}

.login a:hover, .logout:hover {
    filter: brightness(1.2);
    transform: scale(1.25);
}


.nav h1:hover, .login a:last-of-type:hover, .login a:first-of-type:hover {
    text-decoration: underline;
}

.login a:nth-of-type(2) {
    background: linear-gradient(135deg, rgb(0, 180, 200), rgb(0, 130, 180));
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.logout {
    background: linear-gradient(135deg, rgb(0, 180, 200), rgb(0, 130, 180));
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 200ms ease;
}


@media (max-width: 768px) {
    .nav {
        justify-content: space-between;
        gap: 1rem;
    }
    .login a {
        font-size: 1rem;
    }
    .nav h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 500px) {
    .login a:first-of-type {
        display: none;
    }
}