.error, .success {
    position: fixed;
    padding: 1rem;
    border-radius: 15px;
    top: 15%;
    right: 1%;
    animation: fadeOut 2s ease-in-out forwards;
    animation-delay: 6s;
}

.success {
    background-color: rgb(9 112 36);
}

.error {
    background-color: rgb(170, 51, 51);
}

.icon {
    animation: 800ms linear 0s infinite loading;
    margin-bottom: 0.5rem;
}

.loading p {
    font-size: 1.2rem;
}

.loading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postForm label {
    width: 7rem;
    font-weight: bold;
}

.postForm input{
    width: 50%;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 0.2rem;
    background-color: rgb(202, 199, 199);
    outline-color: red;
}

.postForm > div:not(:last-of-type) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.postForm input:focus {
    outline-color: red;
    outline-width: 3px;
    outline-style: solid;
}

.postForm .publish {
    gap: 0.5rem;
}

.postForm .publish > input {
    width: auto;
    transform: scale(1.5);
}

.postForm .publish > label {
    width: auto;
}

.postForm button {
    background: linear-gradient(135deg, rgb(0, 180, 200), rgb(0, 130, 180));
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 200ms ease;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.postForm button:disabled {
    background: linear-gradient(135deg, rgb(157, 157, 157), rgb(111, 111, 111));
}

.postForm button:hover {
    filter: brightness(1.2);
    transform: scale(1.25);
}



@keyframes loading {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(1turn);
    }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

@media (max-width: 950px) {
}


@media (max-width: 700px) {
   .post.postForm > div:not(:last-of-type) {
        flex-direction: column;
    }
   .post.postForm label {
        width: auto;
    }
   .post.postForm input{
        width: 100%;
    }
   .post.postForm .publish {
        flex-direction: row !important;
    }
   .post.postForm button {
        font-size: 1rem;
    }
}