.intro {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
    border: 2px solid rgba(96, 96, 241, 0.827);
    margin-bottom: 2rem;
}
.intro h1, .blog {
    text-align: center;
    font-size: clamp(1.5rem, 3.8vw, 2.3rem);
    margin-bottom: 2rem;
}

.post h2 {
    font-size: clamp(1.3rem, 3vw, 1.5rem);
}

.intro p {
    font-size: 1.1rem;
}

.intro img {
    width: max(25rem, 50%);
    height: auto;
    object-fit: cover;
    order: 2;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container p {
    margin-bottom: 0.8rem;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    gap: 1rem;
}

.post img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.post {
    padding: 1rem;
    border: 2px solid rgba(96, 96, 241, 0.827);
    border-radius: 15px;
    /* max-width: 25rem; */
}

.container h2 {
    padding-top: 0.5rem;
    border-bottom: 1px solid grey;
    margin-bottom: 0.5rem;
}

.post a {
    display: block;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(135deg, rgb(75, 75, 171), rgb(63, 63, 192));
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
    color: white;
    margin-top: auto;
    align-self: center;
    transition: transform 200ms ease;
}

.icon {
    animation: 800ms linear 0s infinite loading;
    margin-bottom: 0.5rem;
}

.loading p {
    font-size: 1.2rem;
}

.loading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post a:hover {
    filter: brightness(1.2);
    transform: scale(1.15)
}



@keyframes loading {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(1turn);
    }
}

@media (min-width: 700px) and (max-width: 950px) {
    .intro {
        display: block;
    }
    .intro img {
        float: right;
        margin-top: -10%;
        margin-right: -10%;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .intro h1, .blog {
        text-align: center;
        margin-bottom: 1rem;
    }
    .intro p {
        font-size: 1rem;
    }
}


@media (max-width: 700px) {
    .intro {
        flex-direction: column;
        padding: 1rem;
    }
    .intro img {
        width: 100%;
        order: 1;
    }
    .intro > div {
        order: 2;
    }
    .intro h1, .blog {
        text-align: center;
        margin-bottom: 1rem;
    }
    .intro p {
        font-size: 1rem;
    }

    .posts {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .post a {
        width: 100%;
    }
}
